<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skiday.app.skiday">

    <uses-feature android:name="android.hardware.camera2" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".timeline.EventDetailsActivity"
            android:label="@string/title_event_details"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ranking.RankDetails"
            android:label="@string/title_rank_details"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.ManagedModeActivity"
            android:label="Managed Mode"
            android:parentActivityName=".settings.SettingsActivity">
            <intent-filter>
                <action android:name=".settings.ExtendedModeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.ChangePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".settings.SettingsActivity">
            <intent-filter>
                <action android:name=".settings.ChangePasswordActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>